#frontPageRefNum {
    padding:14px 48px;
    /*background-color: #FFC009;*/
    color:#555;
    background: #f8f8f8;

    /*border-top: 1px solid #555;*/
    border-bottom: 1px solid #ddd;
    -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0), inset 0px 0px 5px rgba(161,142,016,0);
    -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0), inset 0px 0px 5px rgba(161,142,016,0);
    overflow: hidden;
}

#frontPageRefNum h3 {
    color:#444;
    line-height: 0;
    padding:24px 24px;
    border: 3px #ccc solid;
}

#frontPageRefNum h3 a {
    font-style: italic;
    color:#5d900f;
}

.frontCategory {
    float:left;
    width:48%;
    text-align: center;
/*    background: #fff;*/
}

.frontCategory h3{
    background: #fff;
}

.frontCategory.first {
    padding-right:2%;
}

.frontCategory.last {
    padding-left:2%;
}

#patientServices {
    overflow: hidden;
}

.patientService {
    height: 236px;
    width:40%;
    padding:24px 5%;
    border-bottom:1px #ddd solid;
    float:left;
}

.patientService.prescriptions {
    /*background:#f7f7f7 url('../../img/prescription.jpg') no-repeat right;*/
}

.patientService.hospitalBills {
    background: #f9f9f9;
}

.patientService a {
    text-transform: capitalize;
}
/*
#prescriptionsLeft {
    float:left;
    width:600px;
}

#prescriptionsRight {
    float:right;
    width:300px;
}*/

#prescriptionsRight p {
    font-size:48px;
    padding:18px 18px;
    border:7px #fff solid;
    text-align: center;
    text-transform: capitalize;
    color:#fff;
    text-shadow: 1px 1px 1px #222;
}

#mainPageShop {
    padding:30px 48px;
    background: #f7f7f7
}

#mainPageShop ul.products li {
    background:#fff;
    width:25%;
    padding:20px;
    border: 1px #eee solid;
}