/* Navigation Menu */
.main-navigation {
    text-align: center;
    /*padding:3px 36px;*/
    background: #6da11d;
    height:62px;
    /*border-top:3px #bfd506 solid;*/

    /*  float:right;*/
    /*border:1px #f8f8f8 solid;
        border-bottom:1px #ddd solid;*/
    /*border-bottom: 5px #DDD solid;*/
    border-bottom: 2px #577405 solid;
    /*-moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;*/
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#8ab407', endColorstr = '#608a02');
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#8ab407', endColorstr = '#608a02')";
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    background-image: -moz-linear-gradient(top, #8ab407, #608a02);
    background-image: -ms-linear-gradient(top, #8ab407, #608a02);
    background-image: -o-linear-gradient(top, #8ab407, #608a02);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#8ab407), to(#608a02));
    background-image: -webkit-linear-gradient(top, #8ab407, #608a02);
    background-image: linear-gradient(top, #8ab407, #608a02);
    /*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/


    /*-moz-box-shadow: 0px 1px 1px #333;
    -webkit-box-shadow: 0px 1px 1px #333;
    box-shadow: 0px 1px 1px #333;*/
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 2, direction = 180, color = '#333');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 180, Color = '#333')";
    /*Shadows look very different in IE (Only cardinal directions supported)*/
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element should have a background-color*/
    /*All filters must be placed together*/
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

    position:relative;
}

.main-navigation li {
    float:left;
    /*margin-right:48px;*/
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 62px;
    overflow: visible;
}

.main-navigation li.current-menu-item {
  /*  background: #5d900f;*/
}

.main-navigation a {
    font-weight: bold;
    padding:0 24px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    text-decoration: none;
    text-transform: capitalize;
    border-right: 1px #9ebc4b solid;
}

.main-navigation li:nth-of-type(1) a{
    padding-left:0;
}

.main-navigation a:hover {
    color: #222;
}

.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
    padding:0 48px;
    line-height: 48px;
}
.main-navigation ul.nav-menu.toggled-on,
.menu-toggle {
    display: inline-block;
}

.main-navigation li .sub-menu {
    width:968px;
    display: none;
    padding:48px;
    background:#f8f8f8;
    border-bottom: 1px #ddd solid;
    position:absolute;
    left:0;
    top:64px;
    z-index: 99999;
}

.main-navigation li .sub-menu a {
    color:#555;
    padding:24px;
    border:3px #ddd solid;
    background: #fff;
}

.main-navigation li .sub-menu a:hover {
    border:3px #78A001 solid;
}

.main-navigation li .sub-menu li {
    text-align: center;
}

.main-navigation li .sub-menu li:first-child {
    margin-right:24px;
}

.hamperNavLiImage {
    width:60px;
    height:60px;
    background-image: url(../../img/hamper.jpg);
    background-repeat: no-repeat;
    background-size:60px;
    margin-bottom: 9px;
}

.otcNavLiImage {
    width:60px;
    height:60px;
    background-image: url(../../img/pills.jpg);
    background-repeat: no-repeat;
    background-size:60px;
    margin-bottom: 9px;
}