/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
** ========================================================================== */

@import url("modules/reset.css");
@import url("modules/common.css");
@import url("modules/header.css");
@import url("modules/navigation.css");
@import url("modules/slider.css");
@import url("modules/frontPage.css");
@import url("modules/checkout.css");

/* ==========================================================================
   Author's custom styles
** ========================================================================== */

#main {
    background: #fff;
}

/* Assistive text */
.assistive-text,
.site .screen-reader-text {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
}
.main-navigation .assistive-text:hover,
.main-navigation .assistive-text:active,
.main-navigation .assistive-text:focus {
    background: #fff;
    border: 2px solid #333;
    border-radius: 3px;
    clip: auto !important;
    color: #000;
    display: block;
    font-size: 12px;
    padding: 12px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 100000; /* Above WP toolbar */
}

/* Page structure */


#top-navigation {
    height:42px;
    padding:0 48px;
    background: #222;
}

#top-navigation ul li {
    font-size:13px;
    display:inline-block;
    line-height: 42px;
    margin-right:18px;
}

#top-navigation ul li a {
    text-transform: capitalize;
    text-decoration: none;
    color:#fff;
}

.site {
    /*padding: 0 24px;
    padding: 0 1.714285714rem;*/
}
.site-content {
   /* margin: 24px 0 0;
    margin: 1.714285714rem 0 0;*/
}
.widget-area {
    margin: 24px 0 0;
    margin: 1.714285714rem 0 0;
}

#mainPageShop a.button, 
.woocommerce form.cart button.single_add_to_cart_button.button,
.woocommerce #container a.button,
.woocommerce #content .cart .checkout-button.button,
.bigSubmitButton {
    background:#c86403;
    border:none;
    padding:9px 14px;
    box-shadow: none;
    text-shadow:none;
    color:#fff;
}

.star-rating span {
    color: #c86403 !important;
}

.bigSubmitButton {
    padding:12px 18px;
    font-size:18px;
    border:3px #ddd solid;
    border-radius: 12px;
    text-transform: uppercase;
}

input#ref_number {
    width:60%;
    margin:0 auto;
    padding:12px 18px;
    font-size:18px;
    border:3px #ddd solid;
    border-radius: 12px;
}

/* ==!== Page styles ======================================================== */

#main-content {
   /* padding:42px;*/
    overflow:hidden;
}

#primary {
    float:left;
    width:631px;
    padding:36px 48px;
}

#secondary {
    float:left;
    width:264px;
    padding:36px;
    background-color:#f8f8f8;
    border-left: 1px #ddd solid;
}

#main #container {
    padding:48px;
    background:#f8f8f8;
}

#main #container #content {
    padding:48px;
    background: #fff;
    border:1px #ddd solid;
}

.main-footer {
    padding:48px;
    background:#f8f8f8;
    border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    margin-bottom: 60px;
}


table.cart thead {
    background-color: #6da11d;
    color:#fff;
    padding-top:18px;
    padding-bottom: 18px;
}

ul.products span.amount {
    font-size:18px;
    font-style:italic;
}

#loginform-page {
    padding:48px;
    background:#f8f8f8;
}

.woocommerce.impact ul.product_list_widget li img {
    float:left;
    margin-right:18px;
}

.woocommerce.impact ul.product_list_widget li {
    padding:9px 12px 6px 12px;
    margin-bottom: 6px;
    background:#fff;
    border:1px #ddd solid;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
